<!-- {% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreastCancer</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <style>
    #main-image-container {
    text-align: center;
    margin-bottom: 20px;
    }

    #main-image-container img {
    width: 100%;
    height: auto; 
    border: 3px solid #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #saveImage{
        background-color: rgb(20, 20, 179);
        border: 3px solid #000;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
    }
    #saveImage:hover {
        transform: scale(1.1); 
    }
    
    #thumbnail-container {
    text-align: center; 
    }

    .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #999;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    }

    .thumbnail:hover {
        transform: scale(1.1);
    }
    </style>
</head>
    <body>
        <div class="container">
            <button class="hamburger-menu">
                &#9776;
            </button>
            <div id="sidebar" class="active">
                <div class="sidebar-header">Breast Cancer</div>
                <ul class="sidebar-menu">
                    <li><a href="{% url 'upload-image' %}"><i class="icon-user"></i> Upload Image</a></li>
                    <li><a href="{% url 'annotate_image' %}"><i class="icon-info"></i> Annotate Image</a></li>
                    <li><a href="{% url 'thermal_image' %}"><i class="icon-info"></i> Thermal Image</a></li>
                    <li><a href="{% url 'thermal_parameters' %}"><i class="icon-info"></i> Thermal Parameters Views</a></li>
                </ul>
            </div>
            <div id="content">
                {% if images %}
                    <div id="main-image-container" style="position: relative; display: inline-block;">
                        <img id="main-image" src="{{ images.0.image.url }}" alt="Main Image" style="max-width: 100%; display: block; height: 100%">
                        <canvas id="annotationCanvas" style="position: absolute; left: 0; top: 0;"></canvas>
                    </div>
                    <br>
                    <button id="saveImage" onclick="saveAnnotatedImage()">Save Image</button>
                    <br>
                    <button id="addCrossButton" onclick="toggleAddCrossMode()">Add Cross</button>
                    <br>
                    <hr>
                    <div id="thumbnail-container">
                        {% for image in images %}
                            <img class="thumbnail" src="{{ image.image.url }}" alt="Thumbnail" onclick="changeMainImage('{{ image.image.url }}')">
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No images to display.</p>
                {% endif %}
            </div>
        </div>
        <script src="{% static 'myapp/js/script.js' %}"></script>
        <script>
            let pathPoints = [];
            let completedPolygons = [];
            let isPolygonClosed = false;
            let addCrossMode = false;
            let crosses = [];
    
            document.getElementById('main-image-container').addEventListener('click', function(event) {
                const rect = this.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
    
                if (addCrossMode) {
                    addCrossToCanvas(x, y);
                } else {
                    addPointToPath(x, y);
                }
            });
    
            function addPointToPath(x, y) {
                if (pathPoints.length > 0) {
                    const dx = x - pathPoints[0].x;
                    const dy = y - pathPoints[0].y;
                    const distance = Math.sqrt(dx * dx + dy * dy);
                    if (distance < 10 && pathPoints.length > 2) {
                        pathPoints.push(pathPoints[0]);
                        isPolygonClosed = true;
                        updatePathOnImage();
                        completedPolygons.push([...pathPoints]);
                        pathPoints = [];
                        isPolygonClosed = false;
                        return;
                    }
                }
    
                if (pathPoints.length >= 13) {
                    alert('You can only add 13 points to the polygon, including the closing point.');
                } else {
                    pathPoints.push({ x, y });
                    updatePathOnImage();
                }
            }
    
            function updatePathOnImage() {
                const canvas = document.getElementById('annotationCanvas');
                if (!canvas) return;
                const ctx = canvas.getContext('2d');
    
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                
                completedPolygons.forEach(polygon => {
                    ctx.beginPath();
                    polygon.forEach((point, index) => {
                        ctx.lineTo(point.x, point.y);
                    });
                    ctx.closePath();
                    ctx.strokeStyle = '#000000';
                    ctx.lineWidth = 2;
                    ctx.stroke();
                });
    
                if(pathPoints.length > 0) {
                    ctx.beginPath();
                    pathPoints.forEach((point, index) => {
                        ctx.lineTo(point.x, point.y);
                    });
                    if(isPolygonClosed) {
                        ctx.closePath();
                    }
                    ctx.strokeStyle = '#ffffff';
                    ctx.lineWidth = 2;
                    ctx.stroke();
                }
            }
    
            function toggleAddCrossMode() {
                addCrossMode = !addCrossMode;
                document.getElementById('addCrossButton').textContent = addCrossMode ? 'Finish Adding Crosses' : 'Add Cross';
            }
    
            function addCrossToCanvas(x, y) {
                const cross = { x, y };
                crosses.push(cross);
                drawCross(cross);
            }
    
            function drawCross(cross) {
                const canvas = document.getElementById('annotationCanvas');
                const ctx = canvas.getContext('2d');
                const crossSize = 10;
    
                ctx.beginPath();
                ctx.moveTo(cross.x - crossSize, cross.y);
                ctx.lineTo(cross.x + crossSize, cross.y);
                ctx.moveTo(cross.x, cross.y - crossSize);
                ctx.lineTo(cross.x, cross.y + crossSize);
                ctx.strokeStyle = '#000000';
                ctx.lineWidth = 1;
                ctx.stroke();
            }
    
            function initializeCanvas() {
                const mainImage = document.getElementById('main-image');
                const canvas = document.getElementById('annotationCanvas');
                canvas.width = mainImage.clientWidth;
                canvas.height = mainImage.clientHeight;
                reapplyAnnotations(canvas.getContext('2d'));
            }
    
            window.onload = initializeCanvas;
            window.addEventListener('resize', initializeCanvas);
    
            function changeMainImage(imageUrl) {
                const mainImage = document.getElementById('main-image');
                mainImage.src = imageUrl;
                completedPolygons = []; 
                pathPoints = [];
                crosses = [];
                initializeCanvas();
            }
            document.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    pathPoints = [];
                    updatePathOnImage();
                }
            });
            
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function saveAnnotatedImage() {
                const canvas = document.getElementById('annotationCanvas');
                const ctx = canvas.getContext('2d');
                const mainImage = document.getElementById('main-image');
            

                if (!mainImage.complete) {
                    alert('Image not yet loaded. Please try again.');
                    return;
                }
                canvas.width = mainImage.naturalWidth;
                canvas.height = mainImage.naturalHeight;
                ctx.drawImage(mainImage, 0, 0, canvas.width, canvas.height);
            
                reapplyAnnotations(ctx);
            
                const imageData = canvas.toDataURL('image/png');
         
                ctx.clearRect(0, 0, canvas.width, canvas.height);
              
                fetch("{% url 'save_annotated_image' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ 'imageData': imageData })
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status === 'success') {
                        
                        alert('Image saved successfully.');
                    } else {
                        alert('Failed to save image.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while saving the image.');
                });
            }
            
            function reapplyAnnotations(context) {
                completedPolygons.forEach(polygon => {
                    context.beginPath();
                    polygon.forEach((point, index) => {
                        context.lineTo(point.x, point.y);
                    });
                    context.closePath();
                    context.strokeStyle = '#000000';
                    context.lineWidth = 2;
                    context.stroke();
                });
                crosses.forEach(cross => drawCross(cross)); 
            }            
        </script>        
    </body>
</html> -->
<!-- {% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreastCancer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <body>
        <div class="container">
            <button class="hamburger-menu">
                &#9776; 
            </button>
            <div id="sidebar" class="active">
                <div class="sidebar-header">Breast Cancer</div>
                <ul class="sidebar-menu">
                    <li><i class="icon-home"></i> Home</li>
                    <li><i class="icon-user"></i> Upload Image</li>
                </ul>
            </div>
            <div id="content">
                <p>Welcome!! Have a nice day.</p>
            </div>
        </div>
        <script src="{% static 'myapp/js/script.js' %}"></script>
    </body>
</html> -->


{% load static %}
<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dashboard - Analytics | myTherma</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{%static '/assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static '/assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static '/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static '/assets/css/demo.css' %}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static '/assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/css/pages/page-auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      #main-image-container {
      text-align: center;
      margin-bottom: 20px;
      position: relative;
      }
  
      #main-image-container img {
      width: 100%;
      height: auto; 
      border: 3px solid #666;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  
      #saveImage{
          background-color: rgb(20, 20, 179);
          border: 3px solid #000;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          transition: transform 0.2s;
      }
      #saveImage:hover {
          transform: scale(1.1); 
      }
      
      #thumbnail-container {
      text-align: center; 
      }
  
      .thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 2px solid #999;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
      }
  
      .thumbnail:hover {
          transform: scale(1.1);
      }
    </style>
    <!-- Helpers -->
    <script src="{% static '/assets/js/config.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static '/assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'index' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                      d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                      id="path-1"
                    ></path>
                    <path
                      d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                      id="path-3"
                    ></path>
                    <path
                      d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                      id="path-4"
                    ></path>
                    <path
                      d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                      id="path-5"
                    ></path>
                  </defs>
                  <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                          </g>
                        </g>
                        <g
                          id="Triangle"
                          transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2", style="text-transform: none;">myTherma</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="{% url 'index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboard">Home</div>
              </a>
              <a href="{% url 'annotate_image' %}" class="menu-link mt-4" >
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboard">Annotate Image</div>
              </a>
              <a href="{% url 'thermal_image' %}" class="menu-link mt-4" >
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboard">Thermal-image</div>
              </a>
              <a href="{% url 'thermal_parameters' %}" class="menu-link mt-4" >
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboard">Thermal_parameters</div>
              </a>
            </li>

      
      
      
            
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{% static '/assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{% static '/assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">{{ user.username }}</span>
                            <small class="text-muted">{{ user.geeks_field }}</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'doctor_logout' %}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <!-- imran -->
          <!-- <div id="content" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);display: flex;margin-right:100px;margin-left:100px; justify-content: space-between;">

            <div id="main-image-container" style="position: relative; display: inline-block;">
              <img id="main-image" src="{{ images.0.image.url }}" alt=" Main Image" style="max-width: 100%; display: block; height: 100%">
              <canvas id="annotationCanvas" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;"></canvas>
            </div> 
        
            <div id="thumbnail-container">

        
                {% for image in images %}
                    <div class="thumbnail" style="margin-bottom: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; display: flex; align-items: center;">
        
                        <div style="flex-grow: 1;">
                            <img src="{{ image.image.url }}" alt="Thumbnail" onclick="changeMainImage('{{ image.image.url }}')" style="max-width: 100%; cursor: pointer;">
                        </div>
                        <div style="text-align: right;">
                            <p>{{ image.name }}</p>
                        </div>
        
                    </div>
                {% endfor %}
        
            </div> 
         
            <div style="padding: 20px; display: flex; flex-direction: column; align-items: flex-end;margin-right:70px;">

              <div>
                <p style = "margin-bottom: 90px;font-weight:bold">CENTER</p>
              </div>
              <div>
                <p style = "margin-bottom: 100px;font-weight:bold">LEFT 45% C</p>
              </div>
              <div>
                <p style = "margin-bottom: 100px;font-weight:bold">LEFT 90 % C</p>
              </div>
              <div>
                <p style = "margin-bottom: 100px;font-weight:bold;">RIGHT 45% C</p>
              </div>
              <div>
                <p style = "font-weight:bold;">RIGHT 90% C</p>
              </div>

            </div>

          </div>     
            <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        
                <button id="saveImage" onclick="saveAnnotatedImage()", style="margin-left: 500px; border-radius:10px">Save Image</button>
                <button id="addCrossButton" onclick="toggleAddCrossMode()", style="margin-right: 500px; border-radius:10px">Add Cross</button>
                <hr>
        
            </div> -->
            <div id="content" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-right:100px;margin-left:100px; justify-content: space-between;">
              {% if images %}
                  <div id="main-image-container" style="position: relative; display: inline-block;">
                      <img id="main-image" src="{{ images.0.image.url }}" alt="Main Image" style="max-width: 100%; display: block; height: 100%">
                      <canvas id="annotationCanvas" style="position: absolute; left: 0; top: 0;"></canvas>
                  </div>
                  <div class="button-container" style="display:flex; gap:10px; margin-left:37%">
                    <br>
                    <button id="saveImage" style="border-radius: 5px;" onclick="saveAnnotatedImage()">Save Image</button>
                    <br>
                    <button id="addCrossButton" style="border-radius: 5px;" onclick="toggleAddCrossMode()">Add Cross</button>
                    <br>
                  </div>
                  <hr>
                  <div id="thumbnail-container">
                      {% for image in images %}
                          <img class="thumbnail" src="{{ image.image.url }}" alt="Thumbnail" onclick="changeMainImage('{{ image.image.url }}')">
                      {% endfor %}
                  </div>
                  {% else %}
                      <p>No images to display.</p>
                  {% endif %}
              </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <div class="buy-now">
      <a
        href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
        target="_blank"
        class="btn btn-danger btn-buy-now"
        >This is Doctor</a
      >
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static '/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static '/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static '/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static '/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static '/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static '/assets/js/dashboards-analytics.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{% static 'myapp/js/script.js' %}"></script>
    <script>
        let pathPoints = [];
        let completedPolygons = [];
        let isPolygonClosed = false;
        let addCrossMode = false;
        let crosses = [];

        document.getElementById('main-image-container').addEventListener('click', function(event) {
            const rect = this.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            if (addCrossMode) {
                addCrossToCanvas(x, y);
            } else {
                addPointToPath(x, y);
            }
        });

        function addPointToPath(x, y) {
            if (pathPoints.length > 0) {
                const dx = x - pathPoints[0].x;
                const dy = y - pathPoints[0].y;
                const distance = Math.sqrt(dx * dx + dy * dy);
                if (distance < 10 && pathPoints.length > 2) {
                    pathPoints.push(pathPoints[0]);
                    isPolygonClosed = true;
                    updatePathOnImage();
                    completedPolygons.push([...pathPoints]);
                    pathPoints = [];
                    isPolygonClosed = false;
                    return;
                }
            }

            if (pathPoints.length >= 13) {
                alert('You can only add 13 points to the polygon, including the closing point.');
            } else {
                pathPoints.push({ x, y });
                updatePathOnImage();
            }
        }

        function updatePathOnImage() {
            const canvas = document.getElementById('annotationCanvas');
            if (!canvas) return;
            const ctx = canvas.getContext('2d');

            ctx.clearRect(0, 0, canvas.width, canvas.height);
            
            completedPolygons.forEach(polygon => {
                ctx.beginPath();
                polygon.forEach((point, index) => {
                    ctx.lineTo(point.x, point.y);
                });
                ctx.closePath();
                ctx.strokeStyle = '#000000';
                ctx.lineWidth = 2;
                ctx.stroke();
            });

            if(pathPoints.length > 0) {
                ctx.beginPath();
                pathPoints.forEach((point, index) => {
                    ctx.lineTo(point.x, point.y);
                });
                if(isPolygonClosed) {
                    ctx.closePath();
                }
                ctx.strokeStyle = '#ffffff';
                ctx.lineWidth = 2;
                ctx.stroke();
            }
        }

        function toggleAddCrossMode() {
            addCrossMode = !addCrossMode;
            document.getElementById('addCrossButton').textContent = addCrossMode ? 'Finish Adding Crosses' : 'Add Cross';
        }

        function addCrossToCanvas(x, y) {
            const cross = { x, y };
            crosses.push(cross);
            drawCross(cross);
        }

        function drawCross(cross) {
            const canvas = document.getElementById('annotationCanvas');
            const ctx = canvas.getContext('2d');
            const crossSize = 10;

            ctx.beginPath();
            ctx.moveTo(cross.x - crossSize, cross.y);
            ctx.lineTo(cross.x + crossSize, cross.y);
            ctx.moveTo(cross.x, cross.y - crossSize);
            ctx.lineTo(cross.x, cross.y + crossSize);
            ctx.strokeStyle = '#000000';
            ctx.lineWidth = 1;
            ctx.stroke();
        }

        function initializeCanvas() {
            const mainImage = document.getElementById('main-image');
            const canvas = document.getElementById('annotationCanvas');
            canvas.width = mainImage.clientWidth;
            canvas.height = mainImage.clientHeight;
            reapplyAnnotations(canvas.getContext('2d'));
        }

        window.onload = initializeCanvas;
        window.addEventListener('resize', initializeCanvas);

        function changeMainImage(imageUrl) {
            const mainImage = document.getElementById('main-image');
            mainImage.src = imageUrl;
            completedPolygons = []; 
            pathPoints = [];
            crosses = [];
            initializeCanvas();
        }
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                pathPoints = [];
                updatePathOnImage();
            }
        });
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function saveAnnotatedImage() {
            const canvas = document.getElementById('annotationCanvas');
            const ctx = canvas.getContext('2d');
            const mainImage = document.getElementById('main-image');
        

            if (!mainImage.complete) {
                alert('Image not yet loaded. Please try again.');
                return;
            }
            canvas.width = mainImage.naturalWidth;
            canvas.height = mainImage.naturalHeight;
            ctx.drawImage(mainImage, 0, 0, canvas.width, canvas.height);
        
            reapplyAnnotations(ctx);
        
            const imageData = canvas.toDataURL('image/png');
     
            ctx.clearRect(0, 0, canvas.width, canvas.height);
          
            fetch("{% url 'save_annotated_image' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ 'imageData': imageData })
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success') {
                    
                    alert('Image saved successfully.');
                } else {
                    alert('Failed to save image.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while saving the image.');
            });
        }
        
        function reapplyAnnotations(context) {
            completedPolygons.forEach(polygon => {
                context.beginPath();
                polygon.forEach((point, index) => {
                    context.lineTo(point.x, point.y);
                });
                context.closePath();
                context.strokeStyle = '#000000';
                context.lineWidth = 2;
                context.stroke();
            });
            crosses.forEach(cross => drawCross(cross)); 
        }            
    </script>   
  </body>
</html>
